{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h4>Add Advance Type</h4>
    <form method="post" class="shadow p-4 bg-white rounded">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 p-2">
                <label for="{{ form.ADVTDESC.id_for_label }}">
                    {{ form.ADVTDESC.label }}
                    {% if form.ADVTDESC.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.ADVTDESC }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.ADVTCODE.id_for_label }}">
                    {{ form.ADVTCODE.label }}
                    {% if form.ADVTCODE.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.ADVTCODE }}
            </div>
            <div class="col-md-6 p-2">
                {{ form.DISPSTATUS.label_tag }} {{ form.DISPSTATUS }}
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm mt-3">
            <i class="bi bi-check-circle"></i> Save
        </button>
        <a href="{% url 'advancetype_index' %}" class="btn btn-secondary btn-sm mt-3">
            <i class="bi bi-arrow-left-circle"></i> Cancel
        </a>
    </form>
</div>
{% endblock %}
