{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h4>Edit Location</h4>
    <form method="post" class="shadow p-4 bg-white rounded">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 p-2">
                <label for="{{ form.LOCTDESC.id_for_label }}">
                    {{ form.LOCTDESC.label }}
                    {% if form.LOCTDESC.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.LOCTDESC }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.LOCTCODE.id_for_label }}">
                    {{ form.LOCTCODE.label }}
                    {% if form.LOCTCODE.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.LOCTCODE }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.STATEID.id_for_label }}">
                    {{ form.STATEID.label }}
                    {% if form.STATEID.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.STATEID }}
            </div>
            <div class="col-md-6 p-2">
                {{ form.DISPSTATUS.label_tag }} {{ form.DISPSTATUS }}
            </div>
        </div>
        <button type="submit" class="btn btn-warning btn-sm mt-3">
            <i class="bi bi-check-circle"></i> Update
        </button>
        <a href="{% url 'location_index' %}" class="btn btn-secondary btn-sm mt-3">
            <i class="bi bi-arrow-left-circle"></i> Cancel
        </a>
    </form>
</div>
{% endblock %}