{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h4>Edit Grade</h4>
    <form method="post" class="shadow p-4 bg-white rounded">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 p-2">
                <label for="{{ form.GRADEDESC.id_for_label }}">
                    {{ form.GRADEDESC.label }}
                    {% if form.GRADEDESC.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.GRADEDESC }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.GRADECODE.id_for_label }}">
                    {{ form.GRADECODE.label }}
                    {% if form.GRADECODE.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.GRADECODE }}
            </div>
            <div class="col-md-6 p-2">
                {{ form.DISPSTATUS.label_tag }} {{ form.DISPSTATUS }}
            </div>
        </div>
        <button type="submit" class="btn btn-warning btn-sm mt-3">
            <i class="bi bi-check-circle"></i> Update
        </button>
        <a href="{% url 'grade_index' %}" class="btn btn-secondary btn-sm mt-3">
            <i class="bi bi-arrow-left-circle"></i> Cancel
        </a>
    </form>
</div>
{% endblock %}
