{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h4>Edit Account Head</h4>
    <form method="post" class="shadow p-4 bg-white rounded">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 p-2">
                <label for="{{ form.ACHEADGID.id_for_label }}">
                    {{ form.ACHEADGID.label }}
                    {% if form.ACHEADGID.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.ACHEADGID }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.ACHEADDESC.id_for_label }}">
                    {{ form.ACHEADDESC.label }}
                    {% if form.ACHEADDESC.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.ACHEADDESC }}
            </div>
            <div class="col-md-6 p-2">
                <label for="{{ form.ACHEADCODE.id_for_label }}">
                    {{ form.ACHEADCODE.label }}
                    {% if form.ACHEADCODE.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.ACHEADCODE }}
            </div>
            <div class="col-md-6 p-2">
                {{ form.DISPSTATUS.label_tag }} {{ form.DISPSTATUS }}
            </div>
        </div>
        <button type="submit" class="btn btn-warning btn-sm mt-3">
            <i class="bi bi-check-circle"></i> Update
        </button>
        <a href="{% url 'accounthead_index' %}" class="btn btn-secondary btn-sm mt-3">
            <i class="bi bi-arrow-left-circle"></i> Cancel
        </a>
    </form>
</div>
{% endblock %}